*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	color: #252525;
}
body {
	position: relative;
}

header {
	display: flex;
	flex-direction: column;
	max-width: 1440px;
	width: 90%;
	margin: 0 auto 10px auto;
	padding: 20px 0;
	position: sticky;
	top: 0;
	background: white;
}

header .user {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 0.825rem;
}

header .user p:first-of-type {
	font-size: 1rem;
}

header .user p:nth-child(2) {
	color: gray;
}

header .time {
	display: flex;
	font-size: 0.825rem;
	margin-left: auto;
	gap: 10px;
	align-items: center;
}

header .time span:first-of-type {
	font-weight: 900;
}

header img {
	border-radius: 4px;
}

main {
	max-width: 1440px;
	width: 90%;
	margin: 0 auto;
}

main .goals {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

main .goals p {
	font-size: 0.875;
	line-height: 1.2;
}

main .links {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	gap: 20px;
	flex-wrap: wrap;
	position: sticky;
	bottom: 0;
	padding: 10px 0 40px 0;
	background: white;
}

main .links a {
	text-decoration: none;
	font-size: 0.825rem;
	transition: all 300ms ease-in-out;
	font-weight: 500;
	color: rgb(88, 88, 243);
}

main .links a:hover {
	color: initial;
	text-decoration: underline;
}

@media screen and (min-width: 485px) {
	main {
		max-width: 1440px;
		width: 80%;
	}

	header {
		max-width: 1440px;
		width: 80%;
		flex-direction: row;
		align-items: center;
		margin-bottom: 50px;
	}

	header .user {
		flex-direction: row;
	}

	main .goals p {
		font-size: 1rem;
	}

	main .links a {
		font-size: 1rem;
	}
}
